html{
    margin: 0;
    padding: 0;
    
}

body {
    margin: auto;
    
    height: auto;
    background-color: #E5E5E5;
    overflow-y: scroll;
    
}


.TopNav{
    width: 100%;
    height: 70px;
    margin-top: -10px;
    background-color: whitesmoke;
    border-bottom: 2px, black;
}

.SearchHeader {
    margin-bottom: 10px;
}

h1 {
    position: absolute;
    padding: 2px;
    float: left;
    margin-left: 1%;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    color: #003F88;
}

h3 {
    color: #003F88;
    font-family: 'Arial', sans-serif;
}

span {
    color:darkgoldenrod;
}

ul {
    width: auto;
    float: right;
    margin-top: 2px;
}

li {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 2px;
}

a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: large;
    margin-right: 20px;
    font-family:'Arial', sans-serif;
}

a:hover {
    color:#003F88;
    transition: 0.5s;
    cursor: pointer;
}

form { 
    position:fixed;
   top:40%;
   left:40%;
   width:250px;
    }

.topNav {
    float: right;
    margin-top: 30px;
}

.IntroLine {  
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 200px;
    font-family:'Arial', sans-serif;
}

.CatchPhrase {
    color: white;
    font-size: large;
    text-align: center;
    text-decoration: underline;
    font-family:'Arial', sans-serif;
    
}


.BackGroundIMG {
    background: url(../Assets/HouseHome.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    filter: brightness(50%);



    position: absolute;
    height: 700px;
    left: 0px;
    right: 0px;

    z-index: -5;


    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.SignUpButton {
    margin-right: 30px; 
    background-color: #003F88; 
    color: white; 
    font-size: larger;
    border-radius: 5px;
    height: 30px;
    font-family:'Arial', sans-serif;
}



.Typebutton {
    color:#003F88;
    background-color: whitesmoke;
    margin-left: 0%;
    margin-right: 0%;
    border-color: white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-family:'Arial', sans-serif;
    top:40%;
    left:40% 
}

.Typebutton:focus {
    border-color: #003F88;
    background-color: #003F88;
    color: white;
}

.Typebutton:hover {
    border-color: #003F88;
    background-color: #003F88;
    color: white;
}

.Searchbox {
    width: 550px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    margin-left: -80px;
    position: absolute;
   top:40%;
   left:40%
}

.TopHalf {
    margin-bottom: 200px;
}

.Locations {
    width: 480px;
    height: 30px;
    background-color: #F0F1F4;;
    border-radius: 10px;
    border-color: black;
    border: 1px;
    border-style: solid;
    padding: 3px;
}

.SubmitSearch {
    color: white;
    background-color: #003F88;
    margin-left: 0%;
    margin-right: 0%;
    border-color: #003F88;
    width: 40px;
    height: 37px;
    border-radius: 5px;
}

.filters {
    background-color: #F0F1F4;
    border-radius: 10px;
    margin: 4px;
    padding: 3px;
    color: grey;
}

.InputBox {
    background-color: #F0F1F4;
    border-radius: 10px;
    margin: 4px;
    padding: 3px;
    width: 80px;
}

.Properties {
    display: flex;
    /* flex-direction: row; */
    float: left;
    margin-left: 100px;
    margin-right: 30px;
    margin-bottom: 60px;

}

@media only screen and (max-width: 768px){
    .Properties {
        display: flex;
         flex-direction: column; 
        float: left;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 2px;
    
    }
}

.props {
    margin-top: 230px;
}

.Propertycard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 250px;
    margin-right: 80px;
    width: 80%;
    
    
  }
   
  .PropertyInfo {
    padding: 2px 16px;
    background-color: white;
    font-family:'Arial', sans-serif;
    padding-bottom: 3px;
  }

  .icons {
      color: #003F88;   
  }

  footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: flex; 
    flex-direction: column;
    line-height: 100px;
    /* position: absolute; */
    background: rgb(194, 194, 194);
    display: flex; 
    line-height: 100px;
    background: rgb(194, 194, 194);
    bottom:0px;
    width: 100%;
    height: 100px;
    text-align: center; 
    flex-grow: 1;
    clear: both;
  }

.Content{
    display: flex;
    color: #FFFFFF;
    flex-direction: row;
    background-color: #003F88;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    /* padding: 30px; */
}

.Copyright{
text-align: start;
width: 100%;
background: #0D0F11;
height: 60px;
line-height: 60px;
color: white;
padding-left: 30px;
/* padding: 8px 24px; */
}

.Companyinfo{
display: flex;
flex-direction: column;
line-height: 40px;
margin-right: 80px;
margin-top: 14px;

}

.Companylinks{
    display: flex;
    flex-direction: column;
    line-height: 10px;
    padding-left: 5px;
    margin-right: 80px;
}

.links{
  display: flex;
  flex-direction: column;
  text-align: start;
  line-height: 6px;
}

.Socialmedia{
    display: flex;
    flex-direction:column;
    line-height: 60px;
}
.Socialicons{
    display: flex;
    flex-direction:row;
    line-height: 8px;
    padding-right: 10px;
}

.footer-links{
    color:white;
    font-size: small;
    margin: 12px;
    text-align: left;
}

.footer-links:hover{
    color: lightskyblue;
}

.Linkheader{
    text-align: left;
    margin: 12px;
    font-size:large;
    font-weight: bold;
}

@media only screen and (max-width: 950px) {
    .Content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        text-align: start;
        width: 100%;
        
    }
    .Copyright{
        width: 100%;
    }
    .Companylinks{
        margin-bottom: 16px;
    }
    .slogan{
        text-align: start;
        margin-left: 10px;
    }
    .Companylinks>img{
        margin-left: 10px;
    }
}
